<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${artistViewModel.getName()}">[Title]</title>
  <link rel="stylesheet" th:href="@{/style/style.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <script defer th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
  <div th:replace="~{view/fragments/header::header}"></div>

  <div class="container">
    <h3 class="mt-4" th:utext="#{artist.editor.title(${artistViewModel.getName()})}">[Edit artist]</h3>

    <form th:method="PATCH" th:action="@{/artists/{id}(id=${artistViewModel.getId()})}" th:object="${artistViewModel}" class="mt-4">
      <input type="hidden" th:field="*{id}" th:value="${artistViewModel.getId()}">

      <div class="form-group">
        <label for="name" th:utext="#{artist.edit.name}">[Name:]</label>
        <input type="text" id="name" th:field="*{name}" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </div>

      <div class="form-group">
        <label for="date" th:utext="#{artist.edit.birthdate}">[Birth Date:]</label>
        <input type="date" id="date" th:field="*{birthDate}" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
      </div>

      <div class="form-group">
        <label for="listeners" th:utext="#{artist.edit.listeners}">[Listeners:]</label>
        <input type="number" id="listeners" th:field="*{listeners}" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('listeners')}" th:errors="*{listeners}"></div>
      </div>

      <input class="btn btn-primary" type="submit" th:value="#{application.edit}">
    </form>

    <a th:href="@{/artists/{id}(id=${artistViewModel.getId()})}" class="mt-3" th:utext="#{application.back}">[Back]</a>
  </div>
  <div th:replace="~{view/fragments/footer::footer}"></div>
</body>
</html>