<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{tour.create.title}">[Add tour]</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{view/fragments/header::header}"></div>

<div class="container">
    <h3 class="mt-4" th:utext="#{tour.create.header}">[Add new tour]</h3>

    <form th:method="POST" th:action="@{/tours}" th:object="${tourViewModel}" class="mt-4">
        <input type="hidden" th:field="*{id}" th:value="0">

        <div class="form-group">
            <label for="location" th:utext="#{tour.create.location}">[Location:]</label>
            <input type="text" id="location" th:field="*{location}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">[Location errors]</div>
        </div>

        <div class="form-group">
            <label for="date" th:utext="#{tour.create.date}">[Date:]</label>
            <input type="date" id="date" th:field="*{date}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">[Date errors]</div>
        </div>

        <div class="form-group">
            <label for="price" th:utext="#{tour.create.price}">[Price:]</label>
            <input type="number" step="0.1" id="price" th:field="*{price}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">[Price errors]</div>
        </div>

        <div class="form-group">
            <label for="artistId" th:utext="#{tour.create.artist}">[Artist:]</label>
            <select id="artistId" th:field="*{artistId}" class="form-control">
                <option th:each="artist : ${#ctx.session.get('sessionArtists')}" th:text="${artist.getName()}" th:value="${artist.getId()}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('artistId')}" th:errors="*{artistId}">[ArtistId errors]</div>
        </div>

        <button class="btn btn-primary" type="submit" th:utext="#{application.add}">[Add]</button>
    </form>

    <a th:href="@{/tours}" class="mt-3" th:utext="#{application.back}">[Back]</a>
</div>
<div th:replace="~{view/fragments/footer::footer}"></div>
</body>
</html>
