<!DOCTYPE html>
<html th:lang="${#locale.language}" th:xmllang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{index.title}">[Music]</title>
    <script defer src="/css/bundle-site.css"></script>
</head>
<body>
<header th:replace="~{view/fragments/header::header}"></header>

<div class="container pb-3 col-lg-5">
    <h3 th:utext="#{error.header}">[error header]</h3>
    <span th:text="${errorCode}" class="text-danger">[error code]</span>
    <p th:text="${errorMessage}">[error message]</p>
</div>

<footer th:replace="~{view/fragments/footer::footer}"></footer>
</body>
</html>
